$bg-color-01: #010e22;
$bg-color-02: #5e7ca3;
$bg-color-03: #140f25;
$bg-color-04: #0a172c;
$slide-bg-color-01: #4F5663;
$slide-bg-color-02: #2487EC;
$bg-gradient-01: linear-gradient(to top, #1794f0, #535ae0); 
$bg-gradient-02: linear-gradient(to top, #1398f1, #525be0);
$bg-gradient-03: linear-gradient(to top,#1496f1,#8c5dec);
$color-01: #1794f0;  
$border-color: #252525;
$border-color-02: #464646;
$border-color-03: #3e6fe6;
$hover-color: #1398f1;
$text-color-01: #fff;
$text-color-02: #0b9ff3;
